- fields.each do |field|
  %p
    = render_field field, f, object
    - if errors = object.errors[field[:name]]
      %span.errors
        - errors.each do |error|
          = error
          - unless errors.last == error
            %br
