- fields.each do |field|
  %p
    = render field.partial, :field => field
    - if errors = object.errors[field.name]
      %span.errors
        - errors.each do |error|
          = error
          - unless errors.last == error
            %br
