- fields.each do |field|
  %p
    = render field.partial, :field => field, :f => f, :form_object => object
    - if errors = object.errors[field.name]
      %span.errors
        - errors.each do |error|
          = error
          - unless errors.last == error
            %br
